<script setup lang="ts">
const props = defineProps({
})
</script>
<template>
  <FormKit
    type="form"
    submit-label="Login"
    form-class="col-span-5 md:col-span-3 md:col-start-2"
    :submit-attrs="{
      inputClass: 'btn btn-primary',
    }"
  >
    <div class="nf-login form-control">
        <FormKit
          type="email"
          label="Email"
          inputClass="input input-bordered w-full max-w-md mb-2"
          validation="required|email"
        />
        <FormKit
          type="password"
          label="Password"
          inputClass="input input-bordered w-full max-w-md mb-2"
          validation="required"
        />
    </div>
  </FormKit>
</template>

<style scoped>

</style>


