<script setup lang="ts">
export interface Props {
  columns?: number | string
  col_span?: number | string
  row_span?: number | string
  gap?: number | string
  grid_flow?: string
  auto_cols?: string
  auto_rows?: string
}
const props = withDefaults(defineProps<Props>(), {
  columns: 3,
  col_span: "auto",
  row_span: "auto",
  gap: 3,
  grid_flow: "col",
  auto_cols: "auto",
  auto_rows: "auto"
})
</script>
<template>
  <div :class="'nf-section grid px-3' +
    ' grid-cols-' + this.columns +
    ' col-span-' + this.col_span +
    ' md:col-span-' + (Number(this.col_span) * 2) +
    ' row-span-' + this.row_span +
    ' gap-' + this.gap +
    ' grid-flow-' + this.grid_flow +
    ' auto-cols-' + this.auto_cols +
    ' auto-rows-' + this.auto_rows
  ">
    <slot />
  </div>
</template>

<style scoped>

</style>
