<script setup lang="ts">
import GridSection from "./GridSection.vue"
import Nav from './Nav.vue'
</script>

<template>
  <header class="container px-2 py-6 mx-auto">
    <div class="navbar bg-base-100">
      <div class="logo-container flex-1 p-2 pl-0 max-h-14 col-span-1">
        <img alt="Vue logo" class="logo max-h-8 w-auto" src="@/assets/logo.svg" />
      </div>
      <Nav />
    </div>
  </header>
</template>

<style scoped>

</style>
