<script setup lang="ts">
</script>

<template>
  <nav class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><RouterLink to="/">Home</RouterLink></li>
      <li><RouterLink to="/about">About</RouterLink></li>
      <li><RouterLink to="/login">Login</RouterLink></li>
    </ul>
  </nav>
</template>

<style scoped>

</style>
