@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Quicksand, system-ui, sans-serif;
    box-sizing: border-box;
    font-size: calc(14px + 4 * ((100vw - 320px) / 960));
    overscroll-behavior: none;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6{
    font-family: Karla, system-ui, sans-serif;
  }

   @media all and (min-width: 768px) {
     html {
       font-size: 18px;
     }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
