@import './base.css';

.bg-white {
    background-color: theme('colors.white');
    /*background-color: theme('colors.gray[50]')*/
}

.formkit-inner {
    position: relative;

    .formkit-prefix-icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: auto;
        height: 54px;
        z-index: 1;
        padding: 0.6rem;

        svg {
            width: 100%;
            height: auto;
            transform: translateY(-4px);
        }
    }
}