
<template>
  <div class="container px-3 mx-auto">
    <GridSection
      columns="5"
      col_span="2"
    >
    <LoginForm />
  </GridSection>
  </div>
</template>

<style scoped>

</style>

<script setup lang="ts">
import GridSection from "../components/GridSection.vue"
import LoginForm from "../components/login/LoginForm.vue"
</script>
